@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b2223;
  font-family: "Baloo Bhaijaan 2", cursive;
}
header {
  background-color: #262b2c;
}
.container {
  margin-left: 100px;
  margin-right: 100px;
}
.topbar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-direction: row-reverse;
}
.input {
  background-color: #364345;
  border-radius: 35px;
  padding: 10px 30px;
  border: 0;
  margin: 10px;
  font-size: 20px;
  text-align: center;
  direction: rtl;
  height: 40px;
  width: 100%;
}
.search {
  position: relative;
}
.fa-search {
  color: #07929c;
  font-size: 19px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.fa-search:hover {
  color: #00eeff;
  font-size: 25px;
}
.contactus {
  color: #737373;
  margin-bottom: 10px;
  font-size: medium;
}
.number {
  color: white;
}
.fa-user {
  color: gray;
  font-size: 15px;
  border-radius: 50%;
  color: #07929c;
  background-color: #364345;
  padding: 10px;
  margin: 10px 15px;
}
.fa-shopping-cart {
  color: gray;
  font-size: 15px;
  border-radius: 50%;
  color: #07929c;
  background-color: #364345;
  padding: 10px;
  margin: 10px 15px;
}
.fa-user:hover {
  color: #364345;
  background-color: #07929c;
}
.fa-shopping-cart:hover {
  color: #364345;
  background-color: #07929c;
}
.btn {
  flex-basis: auto;
  display: flex;
}
.contacusmain {
  display: flex;
  flex-direction: column;
}
